{% extends 'AppTienda/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}
    <h1 class="text-center">Bienvenido al foro de {{curso.nombre}}!</h1>
    <div class="d-grid gap-2 col-6 mx-auto" style="margin: 0.5rem;">
        <a class="btn btn-secondary" href="{% url 'cursos:nuevo_comentario' id=curso.id %}" role="button">Crear comentario</a>
    </div>
    {% for comentario in comentarios %}
        <div class="list-group" style="margin-left: 1rem; margin-right: 1rem;">
            <a href="{% url 'cursos:nueva_respuesta' id=comentario.id %}" class="list-group-item">
                <h3>{{comentario.titulo}}</h3>
                <p>Comentario creado por {{comentario.usuario}} el dia {{comentario.fecha|date:'d/n/Y'}}</p>                
            </a>
        </div>
        {% if comentario.usuario == request.user %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin: 0.5rem;">
                <a class="btn btn-secondary me-md-2" href="{% url 'cursos:eliminar_comentario' id=comentario.id %}" role="button">Eliminar comentario</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}