{% extends 'AppTienda/padre.html' %}
{% load static %}

{% block contenidoQueCambia %}


<div style="border-bottom: 2%; border-top: 2%;">
    {% if publicaciones %}
        <h1 class="text-center">Todo lo que necesitas saber</h1>
        {% if user.is_staff %}
            <div class="d-grid gap-2 col-6 mx-auto" style="margin: 0.5rem;">
                <a class="btn btn-secondary" href="{% url 'blog:crear_publicacion' %}" role="button">Crear publicacion</a>
            </div>
        {% endif %}
                {% for publicacion in publicaciones %}
                    <div class="list-group" style="margin-left: 1rem; margin-right: 1rem;">
                        <a href="{% url 'blog:publicacion_detalle' id=publicacion.id %}" class="list-group-item">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col">
                                        <div 
                                        style=
                                        "display: block;
                                        width: auto;"
                                        >
                                            {% if publicacion.img_miniatura %}
                                                <img 
                                                src="{{ publicacion.img_miniatura.url }}"
                                                class="img-thumbnail float-start"
                                                alt="" 
                                                style=
                                                "display: block;
                                                max-width: 80%;
                                                max-height: 25rem;"
                                                >
                                                {% else %}
                                                <img src="\media\miniaturadefault.jpg"
                                                class="img-thumbnail float-start"
                                                alt="" 
                                                style=
                                                "display: block;
                                                max-width: 80%;
                                                max-height: 25rem;"
                                                >
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h2>{{publicacion.titulo}}</h2>
                                        <p style="font-size: 25px; color: rgb(105, 105, 105);">{{publicacion.subtitulo}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if user.is_staff %}            
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin: 0.5rem;">
                            <a class="btn btn-secondary me-md-2" href="{% url 'blog:eliminar_publicacion' id=publicacion.id %}" role="button">Eliminar</a>
                            <a class="btn btn-secondary me-md-2" href="{% url 'blog:editar_publicacion' id=publicacion.id %}" role="button">Editar</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}     
    </div>
    

{% endblock %}