{% extends 'AppTienda/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}


{% load crispy_forms_tags %}
<div class="list-group" style="margin-left: 2rem; margin-right: 2rem; margin-top: 2rem; background-color: white">
    <h1 class="text-center">Complete con sus datos</h1>

        <form method="POST" class="col-lg-X" style="margin-left: 2rem; margin-right: 2rem;">
            {% csrf_token %}

            {{ form|crispy }}

            <button class="btn btn-secondary me-md-2" type="submit" style="margin-top: 1rem; margin-bottom: 1rem;">Iniciar Sesion</button>
        </form>
    <a href="{% url 'password_reset' %}">Recuperar contraseña</a>
    <p>Si no tenes una cuenta<a href="{% url 'registro_usuario' %}">registrate aqui</a></p>
</div>
{% endblock %}